<div class="my-4 text-right">
	<button 
		class="btn-toggle"
		{{on "click" (fn this.handleToggleStations)}}>Show Stations</button>

</div>
	<div class="flex">
		{{#each dateRange as |day|}}
		<ProductionLines::CalendarView::Day
			@showStations={{showStations}}
			@day={{day}}
		/>
		{{/each}}
	</div>
